---
# https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta3#InitConfiguration
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
bootstrapTokens:
  - groups:
      - system:bootstrappers:kubeadm:default-node-token
    token: abcdef.0123456789abcdef
    ttl: 24h0m0s
    usages:
      - signing
      - authentication
localAPIEndpoint:
  advertiseAddress: {{ ansible_host }}
  bindPort: {{ APISERVER_PORT }}
nodeRegistration:
  criSocket: {{ cri_socket }}
  imagePullPolicy: IfNotPresent
  taints: null

---
# https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta3#ClusterConfiguration
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
certificatesDir: /etc/kubernetes/pki
clusterName: kubernetes
imageRepository: {{ K8S_MIRRORS['k8s.gcr.io'] }}
kubernetesVersion: {{ K8S_VER }}
{% if HA_ENABLE == 'yes' %}
controlPlaneEndpoint: {{ APISERVER_VIP }}:{{ APISERVER_VPORT }}
{% endif %}
apiServer:
  timeoutForControlPlane: 4m0s
controllerManager:
  extraArgs:
    node-cidr-mask-size: "{{ NODE_CIDR_MASK_SIZE }}"
    bind-address: 0.0.0.0
etcd:
  local:
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
networking:
  dnsDomain: {{ CLUSTER_DNS_DOMAIN }}
  podSubnet: {{ POD_CIDR }}
  serviceSubnet: {{ SERVICE_CIDR }}
scheduler:
  extraArgs:
    bind-address: 0.0.0.0

---
# https://pkg.go.dev/k8s.io/kubelet/config/v1beta1#KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
address: 0.0.0.0
cgroupDriver: systemd
clusterDNS:
{% if NODELOCALDNS_ENABLE == 'yes' %}
  - {{ LOCAL_DNS_SERVER }}
{% else %}
  - {{ cluster_dns_server }}
{% endif %}
clusterDomain: {{ CLUSTER_DNS_DOMAIN }}
evictionHard:
  memory.available: "256Mi"
  imagefs.available: "256Mi"
  imagefs.inodesFree: "5%"
  nodefs.available: "5%"
  nodefs.inodesFree: "5%"
evictionSoft:
  memory.available: "512Mi"
  imagefs.available: "512Mi"
  imagefs.inodesFree: "10%"
  nodefs.available: "10%"
  nodefs.inodesFree: "10%"
evictionSoftGracePeriod:
  memory.available: "30s"
  imagefs.available: "1m30s"
  imagefs.inodesFree: "1m30s"
  nodefs.available: "30s"
  nodefs.inodesFree: "30s"
kubeReserved:
  cpu: "200m"
  memory: "256Mi"
systemReserved:
  cpu: "200m"
  memory: "256Mi"
  ephemeral-storage: "5Gi"
kubeReservedCgroup: "/kubernetes.slice"
systemReservedCgroup: "/system.slice"
enforceNodeAllocatable:
  - pods
{% if KUBE_RESERVED_ENABLE == 'yes' %}
  - kube-reserved
{% endif %}
{% if SYS_RESERVED_ENABLE == 'yes' %}
  - system-reserved
{% endif %}
maxPods: 128

---
# https://pkg.go.dev/k8s.io/kube-proxy/config/v1alpha1#KubeProxyConfiguration
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
bindAddress: 0.0.0.0
healthzBindAddress: 0.0.0.0:10256
ipvs:
  strictARP: true
metricsBindAddress: 0.0.0.0:10249
mode: "ipvs"
nodePortAddresses: []
