apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
bootstrapTokens:
  - groups:
      - system:bootstrappers:kubeadm:default-node-token
    token: abcdef.0123456789abcdef
    ttl: 24h0m0s
    usages:
      - signing
      - authentication
localAPIEndpoint:
  advertiseAddress: {{ ansible_host }}
  bindPort: {{ APISERVER_PORT }}
nodeRegistration:
  criSocket: /var/run/dockershim.sock
  imagePullPolicy: IfNotPresent
  taints: null

---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
certificatesDir: /etc/kubernetes/pki
clusterName: kubernetes
imageRepository: {{ K8S_IMAGE_REPOSITORY }}
kubernetesVersion: {{ K8S_VER }}
{% if HA_ENABLE == 'yes' %}
controlPlaneEndpoint: {{ APISERVER_VIP }}:{{ APISERVER_VPORT }}
{% endif %}
apiServer:
  timeoutForControlPlane: 4m0s
controllerManager:
  extraArgs:
    "node-cidr-mask-size": "24"
networking:
  dnsDomain: cluster.local
  serviceSubnet: {{ SERVICE_CIDR }}
  podSubnet: {{ CLUSTER_CIDR }}
scheduler: {}

---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
evictionHard:
  memory.available: "256Mi"
  imagefs.available: "256Mi"
  imagefs.inodesFree: "5%"
  nodefs.available: "5%"
  nodefs.inodesFree: "5%"
evictionSoft:
  memory.available: "512Mi"
  imagefs.available: "512Mi"
  imagefs.inodesFree: "10%"
  nodefs.available: "10%"
  nodefs.inodesFree: "10%"
evictionSoftGracePeriod:
  memory.available: "30s"
  imagefs.available: "1m30s"
  imagefs.inodesFree: "1m30s"
  nodefs.available: "30s"
  nodefs.inodesFree: "30s"
kubeReserved:
  cpu: "200m"
  memory: "256Mi"
systemReserved:
  cpu: "200m"
  memory: "256Mi"
  ephemeral-storage: "5Gi"
kubeReservedCgroup: "/kubernetes.slice"
systemReservedCgroup: "/system.slice"
enforceNodeAllocatable:
  - pods
{% if KUBE_RESERVED_ENABLE == 'yes' %}
  - kube-reserved
{% endif %}
{% if SYS_RESERVED_ENABLE == 'yes' %}
  - system-reserved
{% endif %}
maxPods: 128

---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: "ipvs"
ipvs:
  strictARP: true
nodePortAddresses: []
