{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "registry-mirrors": {{ REGISTRY_MIRRORS['docker.io']|to_json }},
  "insecure-registries": {{ DOCKER_INSECURE_REGISTRIES|to_json }},
  "icc": false,
  "log-level": "info",
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3",
    "compress": "true"
  }
}
