# https://www.keepalived.org/manpage.html
# Configuration File for keepalived
global_defs {
    router_id LVS_DEVEL
}

vrrp_script check_apiserver {
    script "/etc/keepalived/check_apiserver.sh"
    interval 3
    weight 20
    fall 10
    rise 2
}

vrrp_instance VI_1 {
    state {{ keepalived_state }}
    interface {{ keepalived_interface }}
    virtual_router_id 100
    priority {{ keepalived_priority }}
    nopreempt
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }
    virtual_ipaddress {
        {{ keepalived_virtual_ipaddress }}
    }
    track_script {
        check_apiserver
    }
}
